<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyPk0A9gFWBzMuc4Io2PORioaLnS3_spw</string>
	<key>GCM_SENDER_ID</key>
	<string>124364404165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yektaokdan.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone2-f4193</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone2-f4193.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124364404165:ios:75ae7b32813fe2fcce87ac</string>
</dict>
</plist>